

/* Main popup container */
.leaflet-popup {
  border: 2px solid #422f0b;;
  box-shadow: 0 4px 8px rgba(10, 174, 81, 0.1);
  border-radius: 5px;
  padding: 0;
  max-height: 150px;
}

/* Content wrapper */
.leaflet-popup-content-wrapper {
  background-color: rgba(244, 232, 211, 0.9);
  padding: 10px;
  border-radius: 5px;
  padding: 0;
  max-height: 150px;
}

/* Content area */
.leaflet-popup-content {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  display: flex;
  align-items: center; /* Center align the content */
  max-height: 150px;
}

/* Inner custom content */
.popup-inner {
  display: flex;
  align-items: center;
}

/* Image styling */
.popup-image img {
  width: 80px;
  height: 100px;  
  margin-right: 5px;
  object-fit: cover; /* Ensures the image covers the full area */
}

/* Text styling */
.popup-text {
  padding-left: 10px;
  flex: 1;
}

/* Hide the default arrow */
.leaflet-popup-tip-container {
  display: none;
}

/* Custom close button */
.leaflet-popup-close-button {
  color: #5c4830;
  font-size: 16px;
}


.country-label {
  font-weight: bold;
  text-align: center;
  background: transparent;
  padding: 2px 5px;
  border-radius: 3px;
  color: black; /* Default color, overridden by inline styles */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
  text-transform: uppercase;
  font-family: 'sans-serif';
}

.country-label.hidden {
  opacity: 0;
}