.message-page-container {
    display: flex;
    flex-direction: column;
    height: 145vh; /* Adjusted to use full height */
    background-color: rgba(244, 232, 211, 0.8);
}

.content-container {
    display: flex;
    width: 100%;
}

.chat-list-container {
    width: 30%; /* Fixed width for desktop */
    overflow-y: auto;
    height: calc(100vh - 60px); /* Assuming header and footer take 60px */
}

.message-container {
    width: 70%; /* Remaining width for message display */
    overflow-y: auto;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .chat-list-container {
        position: fixed;
        width: 80%;
        left: -100%;
        top: 0;
        bottom: 0;
        z-index: 100;
        transition: left 0.3s;
    }

    .chat-list-container.visible {
        left: 0;
    }

    .message-container {
        width: 100%;
    }
}
