/* MainPage.css */
.main-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden; /* Ensuring no overflow */
}

.site-header {
  margin-left: 150px;
  width: calc(100% - 150px);
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.site-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

/* Header image styles */
.header-image {
  margin-left: 150px; /* Ensure it starts from the edge of the nav bar */
  width: calc(100% - 150px); /* Full width minus the nav bar */
  height: 200px; /* Adjust height as needed */
  background: url('../../../public/assets/images/backgrounds/map2.png') no-repeat center center;
  background-size: cover;
}

/* Navigation bar styles */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: rgba(243, 219, 191, 0.95);
  color: #353839;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start; /* Align items to the start for left alignment */
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center; /* Center items vertically */
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-item svg {
  margin-right: 10px; /* Space between icon and text */
  font-size: 1.2em; /* Adjust icon size */
}

.nav-item:hover {
  background-color: var(--accent-color);
}

.main-content {
  margin-left: 150px; /* Adjust based on navbar width */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start; /* Aligns content to the start of the flex container */
}

.date-event-section, .recent-articles-section {
  background-color: #ffffff; /* Adds a light background for visibility */
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-item, .article-item {
  margin-top: 10px;
}

h2 {
  color: #22333B; /* Gunmetal color for headings */
}

img {
  width: 100%;
  max-width: 300px; /* Limits image width */
  height: auto;
  margin-top: 10px;
}

.main-profile-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em; /* Increase the size of the icon */
  color: #333; /* Change the color as needed */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.main-profile-button:hover {
  color: #007BFF; /* Change the color on hover */
}

.main-profile-button svg {
  width: 1em;
  height: 1em;
}