.forum-footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 16px;
    bottom: 0;
    width: 100%;
}

.forum-footer a {
    color: #007bff; /* A green color to make links stand out */
    text-decoration: none; /* No underline */
    margin: 0 10px;
}

.forum-footer a:hover {
    text-decoration: underline; /* Underline on hover for better accessibility */
    color: #0265cf; /* Lighter green on hover */
}
