.settings-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    gap: 20px;
}

.settings-section {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.settings-section h2 {
    margin-bottom: 15px;
    color: #333;
}

.settings-form-group {
    margin-bottom: 15px;
    align-items: center;
}

.settings-label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.settings-input {
    width: 100%;
    max-width: 600px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Add margin for spacing */
}

.settings-input:focus {
    border-color: #007bff;
}

.settings-submit-button {
    width: 100%;
    max-width: 620px;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Add margin for spacing */
}

.settings-submit-button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

.predefined-pics-container {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.predefined-pic {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 50%;
}

.predefined-pic.selected {
    border-color: blue;
}

@media (max-width: 768px) {
    .settings-container {
        flex-direction: column; /* Stack flex items vertically */
        padding: 10px; /* Reduce padding for smaller screens */
        margin: 10px; /* Reduce margin to fit smaller screens */
        gap: 10px; /* Reduce gap to conserve space */
    }

    .settings-section {
        width: 100%; /* Full width for each section */
        padding: 10px; /* Reduce padding inside the sections */
    }

    .settings-input, 
    .settings-submit-button {
        max-width: none; /* Remove max-width restriction */
    }

    .settings-label,
    .settings-form-group {
        width: 100%; /* Ensure full width usage for better alignment */
    }
}